server:
  port: 9999
  servlet:
    context-path: "/api/v1"
---
spring:
  config:
    activate:
      on-profile: "sql"
  flyway:
    user: "sa"
    password: ""
    schemas: "public"
    url: "jdbc:h2:~/test"
    locations: "classpath:db/migration"
    baseline-on-migrate: true
  datasource:
    url: "jdbc:h2:~/test"
    driverClassName: "org.h2.Driver"
    username: "sa"
    password: ""
  h2:
    console:
      enabled: true
      path: "/h2"
